<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zucc.xwk_31401151.sharebookclient">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.MainActivity" />
        <activity
            android:name=".ui.activity.StartActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.AddBookActivity" />
        <activity android:name=".ui.activity.CaptureActivity" />
        <activity android:name=".ui.activity.WebViewActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.BookDynamicActivity" />
        <activity android:name=".ui.activity.BookDetailActivity" />
        <activity android:name=".ui.activity.SearchResultActivity" />
        <activity android:name=".ui.activity.MessageDetailActivity" />
        <activity android:name=".ui.activity.MessageListActivity" />
        <activity android:name=".ui.activity.BookDynamicAddActivity" />
        <activity android:name=".ui.activity.MyBorrowListActivity" />
        <activity android:name=".ui.activity.MyShareListActivity" />
        <activity android:name=".ui.activity.AddBookDetailActivity" />
        <activity android:name=".ui.activity.BorrowListActivity" />
        <activity android:name=".ui.activity.SelectBookActivity" />
        <activity android:name=".ui.activity.ModifyActivity"/>
        <activity android:name=".ui.activity.BookReviewsActivity">
        </activity>
    </application>

</manifest>